//- extends layout

html
	head
		title= title
	body
		h1= message
		form(method='POST' action='/spots') 
			h1 Create a new spot
			input(type='text', class='spotName', placeholder='spot name')
			input(type='submit', value='Create spot')


//- block content
	h1= title
	p Welcome to #{title}